.section{
    display:flex;
    background: #216869;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    padding: 5px;
    border: 2px solid #9CC5A1;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5px;
    margin-bottom:5px;

}

#intro{
    margin-top:30px;
    margin-left:30%;
    margin-right:30%;
}

#about{
    margin-left:20%;
    margin-right:20%;
    padding-left:0%;
    padding-right:0%;
}


body {
    background: #d5e7e1;
    min-width: 500px;
    position:relative;
    height:100vh;   

}

nav{
    background-color:#103434;
    gap:30px;
    display:flex;
    position:fixed;
    top:-80px;
    width:100%;
    margin-left:-7px;
    /*transition: top 0.3s;*/
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(128,128,128,0.548);
    color:white;
    padding-bottom:5px;
    padding-top:5px;
}

#headspace{
    height:50px;
}

#normnav{
    top:0;
}

#logo{
    border-radius:100%;
    
}

nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:40px;
}



nav li a{
    font-size: 1.1rem;
    cursor: pointer;
    padding: 20px 15px;
    transition: 0.5s;
    color:white;
    text-decoration:none;
    font-family: "Playfaire";
    color:#9CC5A1;
    text-shadow: 0px 0px 2px black;
}

nav li a:hover{
    color:#eb9bad;
    padding-bottom:10px;
    border-bottom:4px #eb9bad solid;
    transition:0.5s;
   
}

.hide{
    top:70px;
}



.subtitle1{
    color:#DCE1DE;
    margin-bottom:0px;
    font-family:"OpenSans"
}

.NameTitle{
    margin-top:0px;
    margin-bottom:0px;
    color: #9CC5A1;
    font-family: "Playfaire";
    font-size: 50px;
    font-weight:bold;
    text-shadow: 0px 0px 2px black;
}

.NameTitle:hover{
    color:#eb9bad;
    transition:0.3s;
}

.subtitle2{
    margin-top: 0px;
    margin-bottom:0px;
    font-family: "OpenSans";
    font-style:italic;
    font-weight: bold;
    color:#DCE1DE
}

.subtitle3{
    margin-top: 0px;
    margin-bottom:0px;
    font-family: "Playfaire";
    font-size:30px;
    font-weight: bold;
    color:#9CC5A1;
    text-shadow: 0px 0px 2px black;
}

@font-face {
    font-family: "Playfaire";
    src: url("fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

img{
    width:100%;
    margin-bottom:0px;
    margin-top:15px;
    /*
    border-radius: 30px;
    border-top: 2px solid #9CC5A1;
    border-left: 2px solid #9CC5A1;
    border-right: 2px solid #9CC5A1;
    */
    /*
    border-radius: 30px;
    width: 50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 20px;
    margin-top:15px;
    border: 2px solid #9CC5A1
    */
}

#bg{
    border-top:2px solid #9CC5A1;
    border-right:2px solid #9CC5A1;
    border-left:2px solid #9CC5A1;
    border-radius:25px;
    margin-left:2%;
    margin-right:2%;
    margin-top:2%;
    background: rgba(0,0,0,0.5);
    padding:0px;
}


.para{
    color:#DCE1DE;
    font-family: "OpenSans";

    margin: 10px 20px 20px 20px;
    border-radius: 25px;
    padding: 8px 16px;
    text-shadow: 0px 0px 2px black;
    border: 2px solid #9CC5A1;
    font-size:20px;
    background:rgba(0,0,0,0.5);
    
    
}

.para:hover{
    border: 2px solid #eb9bad;
}

.vl{
    width:100%;
    height:30px;
	background: linear-gradient(to right, 
	                         transparent 0%, 
	                              transparent calc(50% - 0.81px), 
	                              #216869 calc(50% - 0.8px), 
	                              #216869 calc(50% + 0.8px), 
	                              transparent calc(50% + 0.81px), 
	                              transparent 100%); 
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.hl{
    width:50%;
    color:"#216869";
    margin-bottom: 0px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-top:2px solid #216869;

}

#tree1{
    display:flex;
}

#Experiences-Projects{
    display:flex;
    flex-direction: row;
    justify-content:right;
    /*
    margin-left:15%;
    margin-right:15%;
    */
}

#WE1{
    min-width:200px;
}

.description{
    color:#DCE1DE;
    font-family: "OpenSans";
    padding:20px;
    margin: 10px 20px 20px 20px;
    padding: 4px 8px;
    text-shadow: 0px 0px 2px black;
    text-align: start;
}

.textSection{
    margin:10px 20px;
    min-width:40%;
    border-radius: 20px;
    border: 2px solid #9CC5A1;
    background:rgba(0,0,0,0.5)
}

.textSection:hover{
    border: 2px solid #eb9bad;
}

.UL{
    color:#DCE1DE;
    font-family: "OpenSans";
    text-align:start;
    margin: 10px 20px 20px 20px;
    
    text-shadow: 0px 0px 2px black;
}

#Projects-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
  
}

#Experiences-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#skills-list{
    display:flex;
    flex-direction:row;
    justify-content: center;
}


.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }